%h1 Komentarze:

%table
  %tr
    %th Treść
    %th Projekt
    %th
    %th
    %th



  - @comments.each do |comment|
    %tr
      %td= comment.content
      %td= comment.project_id
      %td= link_to 'Pokaż', project_comment_path(comment.project_id, comment.id)
      %td= link_to 'Edytuj', edit_project_comment_path(comment.project_id, comment.id)
      %td= link_to 'Usuń', project_comment_path(comment.project_id, comment.id), :method => :delete, :data => { :confirm => 'Usunąć komentarz?' }

%br
= link_to 'Nowy komentarz', new_project_comment_path(@project, @comment)
%br
= link_to 'Powrót do listy projektów', projects_path


<!-- @comments = Comment.find(params[:project_id]) -->