%p#notice= notice

%p
  %b Projekt:
  = @project.name
%p
  %b 
  = @project.description
%p
  %b 
  = image_tag(@project.picture_url, :width => 400) if @project.picture.present?

= link_to 'Edytuj', edit_project_path(@project)
\|
= link_to 'Powrót', projects_path

%br
= link_to 'Dodaj komentarz', new_project_comment_path(@project)